<h1><%= @user.name %></h1>

<h2>Goals</h2>
<% if @user.goals.any? %>
  <ul>
    <% @user.goals.each do |goal| %>
      <li><%= goal.name %> - <%= goal.description %></li>
    <% end %>
  </ul>
<% else %>
  <p>No goals found for this user.</p>
<% end %>
<h2>Activities</h2>
<% if @user.activities.any? %>
  <ul>
    <% @user.activities.each do |activity| %>
      <li><%= activity.name %> - <%= activity.description %></li>
    <% end %>
  </ul>
<% else %>
  <p>No activities found for this user.</p>
<% end %>
